#!/bin/sh -e
#
# End User (administrator) Parameters for snaplogger
# The values are saved by Debconf under /var/cache/debconf/config.dat
# (search for snaplogger)

#DEBHELPERS#

# Source various libraries
. /usr/share/debconf/confmodule

if test -n "$DEBIAN_SCRIPT_DEBUG"
then
    set -v -x
    DEBIAN_SCRIPT_TRACE=1
fi
${DEBIAN_SCRIPT_TRACE:+ echo "#42#DEBUG# RUNNING $0 $*" 1>&2 }

# Initialize the database environment
#
db_version 2.0
db_capb
db_title snaplogger/title

if test "$1" = "configure"
then

    # Ask for the various parameters
    #
    for v in shredmode
    do
        db_input high snaplogger/$v || true
        db_go
    done

fi

# vim: ts=4 sw=4 et
